n8n-obsidian-site-crawler.json
{
  "name": "Obsidian Site Crawler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "crawl",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "b2c3d4e5-f6a7-8901-bcde-f12345678901"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/map",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_FIRECRAWL_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.body.url }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Firecrawl Map",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook').first().json.body;\nconst links = $input.first().json.links || [];\nconst criteria = body.criteria || 'card grading standards, card values, population reports, investment';\nreturn [{\n  json: {\n    prompt: `Filter these URLs for a sports card research wiki. Keep only URLs likely to contain useful information about: ${criteria}\\n\\nURLs:\\n${links.join('\\n')}\\n\\nReturn ONLY a JSON array of relevant URLs, no explanation. Example: [\"url1\",\"url2\"]`\n  }\n}];"
      },
      "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
      "name": "Build Filter Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_ANTHROPIC_KEY"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 1024,\n  \"messages\": [{\"role\": \"user\", \"content\": {{ JSON.stringify($json.prompt) }}}]\n}",
        "options": {}
      },
      "id": "e5f6a7b8-c9d0-1234-efab-345678901234",
      "name": "Claude Filter URLs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.content[0].text;\nlet urls = [];\ntry {\n  urls = JSON.parse(text);\n} catch(e) {\n  const match = text.match(/\\[[\\s\\S]*\\]/);\n  if (match) urls = JSON.parse(match[0]);\n}\nreturn urls.map(url => ({ json: { url } }));"
      },
      "id": "f6a7b8c9-d0e1-2345-fabc-456789012345",
      "name": "Parse Filtered URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_FIRECRAWL_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.url }}"
            },
            {
              "name": "formats",
              "value": "={{ [\"markdown\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a7b8c9d0-e1f2-3456-abcd-567890123456",
      "name": "Firecrawl Scrape",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "jsCode": "const url = $input.first().json.data?.metadata?.sourceURL || $input.first().json.data?.metadata?.url || '';\nconst title = $input.first().json.data?.metadata?.title || 'untitled';\nconst markdown = $input.first().json.data?.markdown || '';\nconst slug = title.toLowerCase().replace(/[^a-z0-9\\s-]/g, '').replace(/\\s+/g, '-').replace(/-+/g, '-').slice(0, 60);\nconst now = new Date();\nconst today = now.toISOString().slice(0, 10);\nconst ts = now.toISOString().replace(/[-:T]/g, '').slice(0, 12);\nconst filename = `docs/cards/raw/${slug}-${ts}.md`;\nconst content = `---\\ntitle: \"${title.replace(/\"/g, \"'\")}\"\\nsource: \"${url}\"\\ncreated: ${today}\\ntags:\\n  - clippings\\n---\\n\\n${markdown}`;\nconst encoded = btoa(unescape(encodeURIComponent(content)));\nreturn [{ json: { filename, content: encoded, message: `crawl: ${title}` } }];"
      },
      "id": "b8c9d0e1-f2a3-4567-bcde-678901234567",
      "name": "Build GitHub Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/Kaineres/Sports-Card-Website/contents/{{ $json.filename }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_GITHUB_TOKEN"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "content",
              "value": "={{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c9d0e1f2-a3b4-5678-cdef-789012345678",
      "name": "GitHub Write File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Firecrawl Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl Map": {
      "main": [
        [
          {
            "node": "Build Filter Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Filter Prompt": {
      "main": [
        [
          {
            "node": "Claude Filter URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Filter URLs": {
      "main": [
        [
          {
            "node": "Parse Filtered URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Filtered URLs": {
      "main": [
        [
          {
            "node": "Firecrawl Scrape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl Scrape": {
      "main": [
        [
          {
            "node": "Build GitHub Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build GitHub Payload": {
      "main": [
        [
          {
            "node": "GitHub Write File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-05-19T00:00:00.000Z",
  "versionId": "d0e1f2a3-b4c5-6789-defa-890123456789"
}
